In [3]:
%autosave 0

Autosave disabled

In [35]:
from requests import get
from env import census_api_key
import pandas as pd

In [8]:
url = f"https://api.census.gov/data/2019/acs/acs1/subject"

In [9]:
response = get(url)

In [10]:
content = response.json()

In [11]:
content.keys()

dict_keys(['@context', '@id', '@type', 'conformsTo', 'describedBy', 'dataset'])

In [16]:
content['dataset'][0].keys()

dict_keys(['c_vintage', 'c_dataset', 'c_geographyLink', 'c_variablesLink', 'c_tagsLink', 'c_examplesLink', 'c_groupsLink', 'c_sorts_url', 'c_valuesLink', 'c_documentationLink', 'c_isAggregate', 'c_isCube', 'c_isAvailable', '@type', 'title', 'accessLevel', 'bureauCode', 'description', 'distribution', 'contactPoint', 'identifier', 'keyword', 'license', 'modified', 'programCode', 'references', 'publisher'])

In [17]:
content['dataset'][0]['c_groupsLink']

'http://api.census.gov/data/2019/acs/acs1/subject/groups.json'

In [18]:
url_g = 'http://api.census.gov/data/2019/acs/acs1/subject/groups.json'

In [19]:
response_g = get(url_g)

In [20]:
content_g = response_g.json()

In [21]:
content_g.keys()

dict_keys(['groups'])

In [25]:
content_g['groups'][0]

{'name': 'S0103PR',
 'description': 'POPULATION 65 YEARS AND OVER IN PUERTO RICO',
 'variables': 'http://api.census.gov/data/2019/acs/acs1/subject/groups/S0103PR.json'}

In [28]:
table = 'S1901'

link = ''

for item in content_g['groups']:
    
    if item['name'] == table:
        
        print('Found it: {}.'.format(item['name']))
        
        link = item['variables']
        
        break

Found it: S1901.

In [29]:
link

'http://api.census.gov/data/2019/acs/acs1/subject/groups/S1901.json'

In [30]:
url_s1901 = 'https://api.census.gov/data/2019/acs/acs1/subject?get=NAME,group(S1901)&for=us:1&key=' + '{}'.format(census_api_key)

In [32]:
table_response = get(url_s1901)

In [33]:
table_content = table_response.json()

In [39]:
df_inc = pd.DataFrame(table_content)

In [40]:
df_inc.head()

,0,1,2,3,4,5,6,7,8,9,...,250,251,252,253,254,255,256,257,258,259
0,NAME,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001EA,S1901_C01_001M,S1901_C01_001MA,S1901_C01_002E,S1901_C01_002EA,S1901_C01_002M,...,S1901_C04_014MA,S1901_C04_015E,S1901_C04_015EA,S1901_C04_015M,S1901_C04_015MA,S1901_C04_016E,S1901_C04_016EA,S1901_C04_016M,S1901_C04_016MA,us
1,United States,0100000US,United States,122802852,None,137327,None,5.8,None,0.1,...,(X),-888888888,(X),-888888888,(X),32.7,None,-888888888.0,(X),1

In [ ]:
url_s1901 = 'https://api.census.gov/data/2019/acs/acs1/subject?get=NAME,group(S1901)&for=:1&key=' + '{}'.format(census_api_key)